{% extends 'core/menu.html' %}
{% block title %}
    CONTACTO
{% endblock %}
{% block background %}{% load static %}{% static 'core/img/Contacto.jpeg' %}{% endblock %}

{% block contenido %}
    {% load static %}
     <!-- Contenido Principal -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Nos permite que nuestros clientes se comuniquen con nosotros ya que pueden necesitar informacion de como nosotros hacemos nuestro respectivos envios a todas partes y tambien darle una idea clara de como puden solicitar nuestros productos brindadole la informacion por la nuestros clientes se comunican con nosotros.</p>
          <br>
          <p><b>Teléfono:</b> 0988821608</p>
            <p><b>Correo:</b> jagomez@est.istg.edu.ec</p>
            <p><b>Horarios de atención:</b> Lunes a sábados 7:00 am a 7:00 pm, Domingos de 8:00 am a 12:00 pm (atención a nuestros clientes)</p>
        </div>
      </div>
    </div>

    <hr>
{% endblock %}
